<div class="home-container">
  <hr>

  <h2>Películas Populares</h2>
  <gemini-chat (filtersEvent)="applyGeminiFilters($event)"></gemini-chat>

  <div class="movies-grid">
    @for (movie of movies(); track movie.id) {
      <app-movie-card [movie]="movie" />
    }
  </div>

  @if (loading()) {
    <p class="loading-message">Cargando...</p>
  }

  @if (!loading() && page() < totalPages()) {
    <div class="load-more-container">
      <button (click)="loadMore()">Cargar Más Películas</button>
    </div>
  }
</div>
